body {
    background: rgb(43, 42, 42);
}
.test {
    font-size: 50px;
    color: white;
}
.test2 {
    position: center;
    right: 100px;
    font-size: medium;
    font-family: "Comic Sans MS", serif;
    color: darkred;
}
.saveForm {
    font-size: 90%;
    max-width: 500px;
    margin: 0 auto;

}
input[type=checkbox]{
    transform: scale(0.5);
}
.adminLogout{
    position: absolute;
    right: 70px;
    top: 3px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    background-color:lightblue;
    text-align: center;
    
}
li{
    text-align: center;
    display: inline-block;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(15, 94, 139);
    color: white;
}
