body{
    background-image: url('../pictures/Background-camera.png');
    background-repeat: repeat-y;
    background-size: 20%;
}
.mainText {
    font-size: 50px;
    text-align: center;
    
}
.customBody{
    text-align: center;
    display: inline-block;
}

.header{
    background-color: black;
}
.headerTop{
    text-align: center;
    min-height: 120px;
    
}
.background{
}

.test2 {
    position: center;
    right: 100px;
    font-size: medium;
    font-family: "Comic Sans MS", serif;
    color: darkred;
}
.saveForm {
    font-size: 90%;
    max-width: 500px;
    margin: 0 auto;

}
input[type=checkbox]{
    transform: scale(0.5);
}
.adminLogout{
    font-size: 20px;
    right: 50px;
    top: 3px;
}
.logoutbutton{
    right: 200px; 
    top: 5px; 
    position: absolute; 
    font-size: 20px
}
ul{
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    font-size: 25px;
    text-align: center;
    
}
li{
    text-align: center;
    display: inline-block;
    padding-right: 20px;
    font-family: 'Acme', sans-serif;
}
li a{
    display: block;
    color: rgb(255, 207, 87);
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
li a:hover{
    transform: translate(-10px);
    color: white;
}
.logo {
    max-width: 15%;
    min-height: 120px;
    object-fit: contain; 
}
.logo:hover{
    box-shadow: 0 0 2px 1px grey;
}
.description td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}
.decriptionRecorder td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
.dropdown select{
    min-width: 100px;
    width: 400px;
    padding: 20px;
    background-color: #4b4ba0;
    color: white;
    text-align: center;
    object-fit: contain;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdown table{
    flex: 1;
    align-items: center;
}

h2{
    mix-blend-mode: darken;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    position: relative;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display:inline-block;
    margin-right: 10px;
    left: 7px;
    top:5px;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.dropdown{
    min-width: 420px;
    max-width: 650px;
    background-color: grey;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 70%;
    width: 40%;
    padding-bottom: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    align-items: center;
    object-fit: contain;
    margin-top: 5%;
    
}
.recorderTable{
    position: relative;
    top: 10px;
}
.switchTable{
    position: relative;
    top: 20px;
    color: black;
}
a{
    text-decoration: none;
    color: #0a0a3d;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.configurationButton{
    font-size: 34px;
    color: lightblue;
}


.configResult{
    margin-bottom: 20px;
    min-width: 50%;
    max-width: 550px;
    background-color: white;
    display: flex;
    justify-content: center; 
    margin-right: auto;
    margin-left: auto; 
    flex: 1; 
    align-items: center; 
    object-fit: contain;
    border: 4px solid red;
    border-top: none;
}
.configResult img{
    position: relative;
    max-width: 250px;
    display: flex;
    justify-content: center; 
    margin-right: auto;
    margin-left: auto; 
    flex: 0; 
    align-items: center; 
    object-fit: contain;
}
.divHeading{
    max-width: 50%;
    min-width: 550px;
    background-color: white;
    display: flex;
    justify-content: center; 
    margin-right: auto;
    margin-left: auto; 
    flex: 1; 
    align-items: center; 
    object-fit: contain;
    border: 4px solid red;
    border-bottom: none;
}

.table tbody tr td, .table thead tr th{
    border: 2px solid black;
}