body {
    background: orange;
}
.test {
    font-size: 50px;
    background: chartreuse;
}
.test2 {
    position: center;
    right: 100px;
    font-size: medium;
    font-family: "Comic Sans MS", serif;
    color: darkred;
}
.saveForm {
    font-size: 90%;
    max-width: 500px;
    margin: 0 auto;

}
input[type=checkbox]{
    transform: scale(0.5);
}
.adminNavbar {
    max-width: 500px;
    margin: 0 auto;
}
.adminPanel{
    max-width: 400px;
    margin: 0 auto;
}