<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul>
            <a target="_self" th:href="@{/}">
                <img class="logo" th:src="@{/css/logo.png}">
            </a>
            <div class="adminLogout" sec:authorize="isAuthenticated()">
                Hello <b><span sec:authentication="name">Username</span></b>
                &nbsp;
                <span sec:authentication="principal.authorities">Roles</span>
            </div>
            <div>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="right: 360px; top: 2px; position: absolute; font-size: 15px">
                    <input type="submit" value="Logout" style="font-size: 20px"/>
                </form>
            </div>
            <li><a th:href="@{/configuration}" style="font-size: 34px">Konfiguracja</a></li>
            <li><a th:href="@{/cameras}" style="font-size: 34px">Kamery</a></li>
            <li><a th:href="@{/recorders}"style="font-size: 34px">Rejestratory</a></li>
            <li><a th:href="@{/switches}" style="font-size: 34px">Switche POE</a></li>
        </ul>
    </div>
    <div class="dropdown" style="background-color: white">
    <div>
    <form th:action="@{/configuration}" th:object="${cameraArray}" method="post">
    <table>
        <tr>
            <td>
            <select name="cameras" id="cameraDropdown" class="form-control">
                <option value="0">Select camera:</option>
                <option th:each="cameras : ${cameraList}" th:text="${cameras.cameraModel}">Option</option>
            </select>
            </td>
        </tr>
    </table>
            <table class="recorderTable">
                <tr>
                    <td>
                        <select name="recorders" id="recorderDropdown" class="form-control">
                            <option value="0">Select recorder:</option>
                            <option th:each="recorders : ${recorderList}" th:text="${recorders.recorderModel}">Option</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
</body>
</html>