<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function cancelForm(){
            window.location = "[[@{/}]]"
        }
    </script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul>
            <a target="_self" th:href="@{/}">
                <img class="logo" th:src="@{/css/logo.png}">
            </a>
            <div class="adminLogout" sec:authorize="isAuthenticated()">
                Hello <b><span sec:authentication="name">Username</span></b>
                &nbsp;
                <span sec:authentication="principal.authorities">Roles</span>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <input class="logoutButton" type="submit" value="Logout"/>
                </form>
            </div>
            <li><a th:href="@{/configuration}" style="font-size: 34px; color: blue">Konfiguracja</a></li>
            <li><a th:href="@{/cameras}" style="font-size: 34px">Kamery</a></li>
            <li><a th:href="@{/recorders}"style="font-size: 34px">Rejestratory</a></li>
            <li><a th:href="@{/switches}" style="font-size: 34px">Switche POE</a></li>
        </ul>
    </div>
<div class="dropdown" style="background-color: white">
    <div>
    <form th:action="@{/configuration/result}" th:object="${recorder}" method="post" enctype="multipart/form-data">
    <div class="container-fluid" style="position: relative; padding-top: 90px;">
   <!-- <table>
        <tr>
            <td>
            <select name="selectCamera" id="cameraDropdown" class="form-control">
                <option value="0">Select camera:</option>
                <option th:each="cameras : ${cameraList}" th:value="${cameras.id}" th:text="${cameras.cameraModel}">Option</option>
            </select>
            </td>
        </tr>
    </table> -->
        <table class="recorderTable">
                <tr>
                    <td>
                        <select name="selectRecorder" id="recorderDropdown" class="form-control">
                            <option value="0">Select recorder:</option>
                            <option th:each="recorders : ${recorderList}" th:value="${recorders.id}" th:text="${recorders}">Option</option>
                        </select>
                    </td>
                </tr>
        </table>
   <!--     <table class="switchTable">
            <tr>
                <td>
                    <select name="selectSwitch" id="switchDropdown" class="form-control">
                        <option value="0">Select switch POE:</option>
                        <option th:each="switches : ${switchList}" th:value="${switches.id}" th:text="${switches.switchModel}">Option</option>
                    </select>
                </td>
            </tr>
        </table> -->
        <div class="text-center" style="top: 50%;
        position: relative;
        margin: 0 auto;">
            <button type="submit" class="btn btn-primaty m-2" style="background-color: blue; color:red;">Konfiguracja</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Powrót</button>
        </div>
    </div>
    </form>
    </div>
</div>
</body>
</html>