<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
    <div class="headerTop">
        <a target="_self" th:href="@{/}">
            <img class="logo" th:src="@{pictures/logo.png}">
        </a>
        <div class="adminLogout" sec:authorize="isAuthenticated()">
            <ul>
        Hello <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <span sec:authentication="principal.authorities">Roles</span>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input class="logoutButton" type="submit" value="Logout"/>
        </form>
    </ul>
        </div>
   <!-- <div class="shopLink">
            <a target="_blank" href="https://cmsab.pl/">
                Zapraszamy również do naszego sklepu
            </a>
        </div>
    !--->
</div>
<div>
    <ul class="mainHeader">       
        <li><a class="configurationButton" th:href="@{/configuration}">Konfiguracja<p class="material-icons">
            build
        </p></a></li>
        <li><a>
            <a th:href="@{/cameras}" style="font-size: 34px">Kamery  <p class="material-icons">list</p>
            </a>
        </a>
        </li>
        <li><a th:href="@{/recorders}"style="font-size: 34px">Rejestratory<p class="material-icons">list</p></a></li>
        <li><a th:href="@{/switches}" style="font-size: 34px">Switche POE<p class="material-icons">list</p></a></li>
    </ul>
</div>
<h2>Strona Główna Konfiguratora Monitoringu</h1>
<div class="mainText">
    <h1>We współczesnym świecie monitoring jest wręcz podstawą bezpieczeństwa naszego codziennego życia. 
        Pozwala ono na między innymi łatwą identyfikację podejrzanego w miejscu popełnienia przestępstwa lub 
        zabezpieczenia domu bądź budynku firmy. Kamery do monitoringu to jeden z najważniejszych elementów systemu dozoru wizyjnego. 
        Istotna jest przede wszystkim ich jakość oraz dopasowanie do konkretnego typu zastosowania. Nowoczesne kamery o wysokiej rozdzielczości oferują świetną jakość, która w połączeniu z dobrym 
        obiektywem pozwoli nam obserwować nawet scenerię znajdującą się w dużej odległości 
        od miejsca instalacji kamery. Można to wykorzystać na przykład jeśli brama wjazdowa znajduje się dalej od domu. 
        Zamiast ciągnąć przewody do samej bramy
        można dobrać odpowiedni obiektyw, który pozwoli na podgląd dokładnie tego miejsca, które chcemy nadzorować, 
        bez utraty jakości.
    </h1>
</div>
<div class="mainText2">
    <h1>Konfigurator kamer powstał z myślą o osobach poszukujących dobrego i wydajnościowego sprzętu do monitoringu, 
        żeby każdy miał możliwość wyboru jak najlepszego zestawu, zapewniającego bardzo
        dobrą jakość rejestrowania oraz zapisu nagrań z kamer. W naszej ofercie jest również możliwość 
        przejrzenia całego dostępnego sprzętu wraz z możliwością zakupu na stronie naszego sklepu.
    </h1>
</div>
</body>
</html>