<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Konfigurator Kamer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <ul>
        <a target="_self" th:href="@{/}">
            <img class="logo" th:src="@{/css/logo.png}">
        </a>
        <div class="adminLogout" sec:authorize="isAuthenticated()">
            Hello <b><span sec:authentication="name">Username</span></b>
            &nbsp;
            <span sec:authentication="principal.authorities">Roles</span>
        </div>
        <div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="right: 360px; top: 2px; position: absolute; font-size: 15px">
                <input type="submit" value="Logout" style="font-size: 20px"/>
            </form>
        </div>
        <li><a th:href="@{/configuration}" style="font-size: 34px">Konfiguracja</a></li>
        <li><a th:href="@{/cameras}" style="font-size: 34px">Kamery</a></li>
        <li><a th:href="@{/recorders}"style="font-size: 34px">Rejestratory</a></li>
        <li><a th:href="@{/}" style="font-size: 34px">Switche POE</a></li>
    </ul>
</div>
<div class="container-fluid text-center">

    <h1 class="test">WITAMY W KONFIGURATORZE KAMER IP ORAZ ANALOG</h1>
    <p style="color: white;">Tutaj znajdziesz najlepsze połączenie kamery z rejestratorem i nie tylko</p>
    <h2><a th:href="@{/adminLogin}">Go to Admin Login</a></h2>
    <select name="camera" id="cameraDropdown">
        <option th:each="camera : ${cameras}" th:value="${camera.id}" th:text="${camera.cameraModel}"></option>
    </select>
</div>
</body>
</html>