<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Konfigurator Kamer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <ul>
        <div class="adminLogout" sec:authorize="isAuthenticated()">
            Hello <b><span sec:authentication="name">Username</span></b>
            &nbsp;
            <span sec:authentication="principal.authorities">Roles</span>
            <form th:action="@{/logout}" method="post" style="text-align: center">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <li><a class="active" th:href="@{/}">Konfiguracja</a></li>
        <li><a th:href="@{/cameras}">Cameras</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</div>
<div class="container-fluid text-center">

    <h1 class="test">WITAMY W KONFIGURATORZE KAMER IP ORAZ ANALOG</h1>
    <p>Tutaj znajdziesz najlepsze połączenie kamery z rejestratorem i nie tylko</p>
    <h2><a th:href="@{/adminLogin}">Go to Admin Login</a></h2>
</div>
</body>
</html>