<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <title>Lista rejestratorów</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
  <body>
  <div class="container">
      <ul>
          <a target="_self" th:href="@{/}">
              <img class="logo" th:src="@{/css/logo.png}">
          </a>
          <div class="adminLogout" sec:authorize="isAuthenticated()">
              Hello <b><span sec:authentication="name">Username</span></b>
              &nbsp;
              <span sec:authentication="principal.authorities">Roles</span>
          </div>
          <div>
              <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="right: 0px; top: 2px; position: absolute; font-size: 15px">
                  <input type="submit" value="Logout" style="font-size: 20px"/>
              </form>
          </div>
          <li><a th:href="@{/}" style="font-size: 34px">Konfiguracja</a></li>
          <li><a th:href="@{/cameras}" style="font-size: 34px">Kamery</a></li>
          <li><a th:href="@{/recorders}"style="font-size: 34px">Rejestratory</a></li>
          <li><a th:href="@{/}" style="font-size: 34px">Switche POE</a></li>
      </ul>
  </div>
      <div><h2 class="container-fluid text-center" style="color: white;">List of recorders</h2></div>
      <div sec:authorize="hasAuthority('ADMIN')" class="container-fluid text-center">
          <a class="h4" th:href="@{/recorders/new}" style="color: white;">
            Add new recorder
          </a>
      </div>
      <div sec:authorize="hasAuthority('ADMIN')" th:if="@{message}">
        <h3 class="alert alert-success text-center">
          [[${message}]]
        </h3>
      </div>
    <div style="max-width: 65%; margin: 0 auto; background-color: white">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Recorder</th>
                    <th>Type</th>
                    <th>Disk Count</th>
                    <th>Storage Limit</th>
                    <th>Number Of Canals</th>
                    <th>Bandwidth</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody class="decriptionRecorder">
                <th:block th:each="recorder : ${recorderList}">
                    <tr>
                        <td style="position: relative; top: 20px; left: -7px">[[${recorder.id}]]</td>
                        <td>
                          <img th:src="@{${recorder.imagePath}}" style="width: 120px; position: relative; top: -13px; left: -6px" />
                        </td>
                        <td style="position: relative; top: 20px">[[${recorder.recorderModel}]]</td>
                        <td style="position: relative; top: 20px">[[${recorder.recorderType}]]</td>
                        <td style="position: relative; top: 20px">[[${recorder.diskCount}]] HDD</td>
                        <td style="position: relative; top: 20px">[[${recorder.storageLimit}]] TB</td>
                        <td style="position: relative; top: 20px; left: 50px">[[${recorder.canalNumbers}]]</td>
                        <td style="position: relative; top: 20px">[[${recorder.bandwidth}]] Mbit</td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a class="h4 mr-3" th:href="@{'/recorders/edit/' + ${recorder.id}}">Edit</a>
                            <a class="h4" th:href="@{'/recorders/delete/' + ${recorder.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>